---
import Container from "../Container.astro";
---

<section id="sobre">
    <Container class="container px-6 py-16">
        <div class="text-center flex flex-col gap-4">
            <h2 class="text-5xl">Sobre o Evento</h2>
            <p class="text-gray-400">
                O evento de Java Day é uma oportunidade única para
                desenvolvedores, entusiastas de tecnologia e profissionais da
                indústria se reunirem para compartilhar conhecimentos,
                experiências e melhores práticas relacionadas ao mundo do Java.
                Desde palestras inspiradoras até workshops práticos, há algo
                para todos os interesses e níveis de habilidade.
            </p>
        </div>
    </Container>
</section>
