---
import Container from "../Container.astro";
import Link from "../Link.astro";
---

<section id="comunidade">
    <Container class="container flex flex-col gap-6 px-6 py-16">
        <div class="flex flex-col">
            <h2 class="text-2xl">Comunidade</h2>
            <p class="text-gray-500">Faça parte da comunidade Java Noroeste.</p>
        </div>

        <ul>
            <li>
                <Link
                    href="/https://www.youtube.com/@JavaNoroeste"
                    target="_blank"
                    ><code>> videos e conteúdos ao vivo</code></Link
                >
            </li>
            <li><Link href="/#"><code>> artigos e blog</code></Link></li>
            <li><Link href="/#"><code>> seja um parceiro</code></Link></li>
            <li><Link href="/#"><code>> seja um voluntário</code></Link></li>
        </ul>
    </Container>
</section>
