---
import Container from "../Container.astro";
import Link from "../Link.astro";
---

<section id="comunidade">
    <Container class="container flex flex-col gap-6 px-6 py-16">
        <div class="flex flex-col">
            <h2 class="text-2xl">Comunidade</h2>
            <p class="text-gray-500">Faça parte da comunidade Java Noroeste.</p>
        </div>

        <ul>
            <li>
                <Link
                    href="/https://www.youtube.com/@JavaNoroeste"
                    target="_blank">> videos e conteúdos ao vivo</Link
                >
            </li>
            <li><Link href="/#">> artigos e blog</Link></li>
            <li><Link href="/#">> seja um parceiro</Link></li>
            <li><Link href="/#">> seja um voluntário</Link></li>
        </ul>
    </Container>
</section>
