---
import Container from "../Container.astro";
import ScheduleItem from "../schedule/ScheduleItem.astro";
import ScheduleWorkshopItem from "../schedule/ScheduleWorkshopItem.astro";
import { speeches, workshops } from "../../data/schedule";

const parseTime = (time: string): Date => {
    const [hours, minutes] = time.split(":").map(Number);
    const date = new Date();
    date.setHours(hours, minutes, 0, 0);
    return date;
};

const sortedSpeeches = speeches
    .map((item) => ({ ...item, parsedTime: parseTime(item.time) }))
    .sort(
        (a, b) =>
            (a.parsedTime as Date).getTime() - (b.parsedTime as Date).getTime(),
    );
---

<section id="agenda">
    <Container class="container flex flex-col gap-6 px-6 py-16" id="palestras">
        <div class="flex flex-col">
            <h2 class="text-2xl">Agenda de Palestras</h2>
            <p class="text-gray-500">Fique por dentro das nossas palestras.</p>
        </div>

        <div class="flex flex-col">
            {
                sortedSpeeches.map((item) => (
                    <ScheduleItem {...item} time={item.time} />
                ))
            }
        </div>
    </Container>

    <Container class="container flex flex-col gap-6 px-6 py-16" id="workshops">
        <div class="flex flex-col">
            <h2 class="text-2xl">Agenda de Workshops</h2>
            <p class="text-gray-500">Participe dos nossos workshops.</p>
        </div>

        <div class="flex flex-col">
            {workshops.map((item) => <ScheduleWorkshopItem {...item} />)}
        </div>
    </Container>
</section>
