---
import Container from "../Container.astro";
import { workshops } from "../../data/schedule";
import CardEvent from "../CardEvent.astro";
---

<section id="workshops">
    <Container class="container flex flex-col gap-6 px-6 py-16">
        <div class="flex flex-col">
            <h2 class="text-2xl">Workshops</h2>
            <p class="text-gray-500">Workshops de 2024.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {
                workshops.map(({ title, description, link, speakers }) => (
                    <CardEvent
                        title={title}
                        description={description}
                        link={link}
                        speakers={speakers}
                    />
                ))
            }
        </div>
    </Container>
</section>
