---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: classList, ...props } = Astro.props;
---

<div {...props} class:list={["mx-auto px-4 max-w-8xl", classList]}>
    <slot />
</div>
