---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: classList, ...props } = Astro.props;
---

<a {...props} class:list={["hover:underline", "cursor:pointer", classList]}>
	<slot />
</a>
