/* setup */
:root {
    --orange: #EB5C27;
    --blue: #0D4485;
    --zinc: #343434;
    --white: #FFFFFF;
    --gray: #EDEDED;
    --dark-gray: #D9D9D9;
    --light: #f7f7f7;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--zinc);
    scrollbar-width: none;
    overflow-x: hidden;
}

.container { max-width: 1400px; }

/* theme */
.bg-blue { background: var(--blue); }
.bg-orange { background: var(--orange); }
.bg-gray { background: var(--gray); }
.bg-dark-gray { background: var(--dark-gray); }
.bg-white { background: var(--white); }
.bg-light { background: var(--light); }

.border-blue { border-color: var(--blue) !important; }
.border-orange { border-color: var(--orange) !important; }
.border-white { border-color: var(--white) !important; }

.text-orange, .text-orange * { color: var(--orange); }
.text-blue, .text-blue * { color: var(--blue); }
.text-white, .text-white * { color: var(--white); }

.card {
    width: 400px;
    box-shadow: 4px 4px 8px rgba(176, 176, 176, 0.25);
}

.people-pic { 
    height: 252px;
}

#slider-palestrantes .card {
    flex: 1 0 252px;
}

.card, .card-content {
    height: fit-content;
}

.nav-list {
    display: flex;
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 1rem;
    height: 0.125rem;
    background: #fff;
    margin: 0.25rem;
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: var(--blue);
        font-size: 1.1rem;
        justify-content: start;
        padding-top: 4rem;
    }
    .nav-list.active {
        display: flex;
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
    }
}

.marquee {
    padding: 2rem;
    width: 100%;
    --gap: 4rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: marquee 20s linear infinite;
}

.marquee__content span {
    font-size: 2rem;
    color: #ccc;
    font-family: tahoma;
    letter-spacing: 0.2rem;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.gray-effect {
    filter: grayscale(100%);
}
.gray-effect:hover {
    filter: grayscale(0%);
}

.partners-logo{
    transition: 0.25s all ease-in-out;
    max-height: 100%;
    max-width: 100%;
}

.partners-logo:hover{
    box-shadow: 0px 2px 12px #000;    
    cursor: pointer;
    filter: contrast(150%) brightness(1.5);
}

.prevSlide img, .nextSlide img{ transition: 0.25s all ease-in-out;}
.prevSlide img:hover, .nextSlide img:hover{
    cursor: pointer;
    filter: brightness(150%);
}


.info-content{
    width: 800px; 
    max-width: 100%;
}

#slider-patrocinadores .flex{
    padding: 15px;
}

.logo-link{
    color: inherit;
    list-style: none;
    text-decoration: none;
    text-transform: none;
}

.card-content div{
    width: 100%;
    text-align: center;
}
.card-content p {
    text-align: justify;
}

.card-content div, .card-content p{
    padding: 10px;
}

.cursos-description p{
    text-align: center;
}
.cursos-description p:first-child{
    font-weight: 700;
}

.img-banda{
    max-height: 100%; 
    max-width: 100%;
    object-fit: cover;
    filter: drop-shadow(8px 8px 10px #EB5C27) saturate(110%) contrast(120%);
}

@media (min-width: 500px){
    .img-banda{ 
        max-width: 350px;
        max-height: 350px;
    }        
}

.tech-teachers{
    z-index: 1;
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #0d4485;
    font-family: Bahnschrift;
    text-align: center;
}

.tab-control {
    border-bottom: solid 2px #a0a2a395;
    color: #a0a2a395;
}

.tab-control:hover {
    border-bottom: solid 2px #a0a2a3;
    color: #a0a2a3;
}

.tab-active {
    border-bottom: solid 2px var(--blue) !important;
    color: #3A468a !important;
}