---
import Head from "./Head.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body class="bg-secundary text-white scroll-smooth">
		<Header />

		<main>
			<slot />
		</main>

		<Footer />

		<script>
			import Theme from "../scripts/theme";
			let theme = new Theme();
		</script>
	</body>
</html>
